* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00b4ff;
    font: 100% Arial, Sans Serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 1s ease-in;
    color: rgb(6, 7, 54);
  }
  

  #background-wrap {
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    padding-top: 50px;
    position: absolute;
  }
  
  /* KEYFRAMES */
  
  @keyframes animateCloud {
      0% {
          margin-left: 0;
      }
      25% {
        margin-left: 10px;
      }
      50% {
        margin-left: 0;
      }
      75% {
        margin-left: -10px;
      }
      100% {
          margin-left: 0;
      }
  }
  
  /* ANIMATIONS */
  
  .x1 {
    position: absolute;
    top: 13rem;
    left: 0;
    animation: animateCloud 2s ease-in-out infinite; 
    transform: scale(0.2);
  }
  
  .x2 {
    position: absolute;
    top: 3rem;
    left: 30rem;
    transform: scale(0.3);
    animation: animateCloud 5s ease-in-out infinite;
  }
  
  .x3 {
    position: absolute;
    top: 5rem;
    left: 60rem;
    transform: scale(0.5);
    animation: animateCloud 3s ease-in-out infinite;
  }
  
  .x4 {
    position: absolute;
    top: 16rem;
    left: 70rem;
    transform: scale(0.25);
    animation: animateCloud 4s ease-in-out infinite;
  }
  
  .x5 {
    position: absolute;
    top: 10rem;
    left: 20rem;
    transform: scale(0.35);
    animation: animateCloud 3s ease-in-out infinite;
  }
  .x6 {
    position: absolute;
    top: 4rem;
    left: 5rem;
    transform: scale(0.6);
    animation: animateCloud 4s ease-in-out infinite;
  }
  
  .cloud {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );  
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);  
    height: 120px;
    position: relative;
    width: 350px;
    box-shadow: inset -11px -8px 0px 4px rgb(0, 0, 0, 0.05),
      0px 0px 10px 0px rgb(250,250,250),
      0px 0px 50px 0px rgb(250,250,250),
      0px 0px 500px 0px rgb(250,250,250);
    opacity: .5;
  }
  
  .cloud:after, .cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-indeX: 5;
    box-shadow: inset -11px -8px 0px 4px rgb(0, 0, 0, 0.05),
      0px 0px 10px 0px rgb(250,250,250),
      0px 0px 50px 0px rgb(250,250,250),
      0px 0px 500px 0px rgb(250,250,250);
  }
  
  .cloud:after {
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
  }
  
  .cloud:before {
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
  }
  
.logo-wrapper {
    text-align: center;
    position: relative;
    padding: 2rem;
    z-index: 6;
}
.logo-wrapper img{
    max-width: 25rem;
    height: auto;
}
.logo-wrapper .light {
    display: none;
}

.sun-wrapper {
    position: absolute;
    top: -14rem;
    right: -11rem;
}
.sun {
    width: 30rem;
    height: 30rem;
    margin: 3rem auto;
    position: relative;
    background: radial-gradient(transparent 50%, white), radial-gradient(yellow, transparent 70%);
    -webkit-mask-image: radial-gradient(black 40%, transparent 65%);
    mask-image: radial-gradient(black 40%, transparent 65%);
    border-radius: 50%;
    z-index: 4;
}
.sun::after, .sun::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    border-radius: 50%;
    -webkit-mask-image: radial-gradient(black 40%, transparent 65%);
    mask-image: radial-gradient(black 40%, transparent 65%);
  }
  .sun::before {
    background: repeating-conic-gradient(from 0deg, yellow 0deg 20deg, transparent 20deg 40deg);
    animation: rotate 720s linear, scale 3s linear infinite;
  }
  .sun::after {
    background: radial-gradient(yellow, orange 27%, transparent calc(27% + 3px) 100%), radial-gradient(gold, transparent 70%), repeating-conic-gradient(from 0deg, gold 0deg 5deg, transparent 5deg 10deg);
    transform: rotate(15deg);
    animation: rotate 360s linear;
  }

  .moon {
    visibility: hidden;
    z-index: 5;
    background: whitesmoke;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    box-shadow: inset -11px -8px 0px 4px rgb(0, 0, 0, 0.05),
      0px 0px 10px 0px rgb(250,250,250),
      0px 0px 50px 0px rgb(250,250,250),
      0px 0px 500px 0px rgb(250,250,250);
  }
  
  .moon .dark {
    content: "";
    background: rgb(0, 0, 0, 0.25);
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 8px;
    left: 50px;
    border-radius: 100%;
    
  }
  
  .moon .dark:nth-child(1) {
    content: "";
    background: rgb(0, 0, 0, 0.25);
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 25px;
    border-radius: 100%;
  }
  
  .moon .dark:nth-child(1)::after {
    content: "";
    background: rgb(250, 250, 250, 0.6);
    width: 78px;
    height: 78px;
    position: absolute;
    bottom: 0px;
    left: 7px;
    border-radius: 100%;
  }
  
  .moon .dark::after {
    content: "";
    background: rgb(250, 250, 250, 0.6);
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    left: 7px;
    border-radius: 100%;
  }
  
  .moon .dark:nth-child(2) {
    content: "";
    background: rgb(0, 0, 0, 0.35);
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 40px;
    left: 25px;
    border-radius: 100%;
  }
  
  .moon .dark:nth-child(2)::after {
    content: "";
    background: rgb(250, 250, 250, 0.6);
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 0px;
    left: 4px;
    border-radius: 100%;
  }
  .glow {
    z-index: 2;
    position: absolute;
    width: 190px;
    height: 190px;
    background: radial-gradient(rgba(255, 255, 255, 0.9), transparent);
    border-radius: 50%;
    filter: blur(10px);
    animation: glow 5s linear infinite;
  }


.switch {
    width: 5rem;
    position: absolute;
    top: 8rem;
    right: 2rem;
    margin: 0 auto;
    z-index: 3;
    
}
.switch img {
    max-width: 5rem;
    height: auto;
    transform-origin: top center;
    animation: wind ease-in-out 7s infinite alternate;
}
.switch img:hover {
    cursor: pointer;
}
.switch img:active {
    cursor: pointer;
}


@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 2px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0), 0 0 0 15px rgba(255, 255, 255, 0), 0 0 0 15px rgba(255, 255, 255, 0);
    }
  }

@keyframes wind {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
  
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.2);
    }
    40% {
      transform: scale(0.8);
    }
    60% {
      transform: scale(1.1);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  } 

  @keyframes glow {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
  }

.content {
    width: 90vw;
    margin: 5rem auto;
    z-index: 15;
}
h1 {
    text-align: center;
}
.menu {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 20px;
  padding: 40px;
  background-color: rgba(6, 7, 54, 0.2);
  border-radius: 20px;
}
nav {
  
}
nav button {
  text-align: left;
}
.login {
  text-align: center;
  padding: 20px;
}
.login p {
  text-align: center;
  margin: 20px;
  font-size: 24px;
}
.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.login-form input {
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.signin-btn {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 255, 0);
  background-color: rgb(6, 7, 54);
  padding: 10px;
  border-radius: 5px;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}
ul li {
    padding: 20px 0;
}
ul li a img {
    max-width: 20rem;
    height: auto;
    transition: .2s ease-in;
}
ul li a img:hover {
    transform: scale(1.1);
    transition: .2s ease-in;
}
#backButton {
  padding: 10px;
  font-size: 20px;
  color: rgb(6, 7, 54);
  display: inline-block;
  border-radius: 5px;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
}

.mountains {
    width: 100%;
    height: 50vh;
    overflow-y: hidden;
    position: relative;
    left: -35%;
}
.hills {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.mountain-wrap {
    transform: scaleX(0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mountain-wrap.foreground {
    z-index: 7;
  }
  .mountain-wrap.background {
    z-index: 3;
  }
  .mountain-wrap.background .mountain {
    left: 65%;
    width: 300px;
    height: 300px;
  }
  .mountain-wrap.background .mountain:before {
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.5);
    top: 18px;
    left: 18px;
  }
  
  .mountain {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 500px;
    height: 500px;
    background-color: #6e6c8f;
    background-image: linear-gradient(to top left, #414055, #6e6c8f);
    transform-origin: 50% 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    overflow: hidden;
  }
  .mountain:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    height: 100px;
    width: 300px;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-image: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(-45deg, transparent 50%, #FFF 50%), linear-gradient(0deg, #FFF, #FFF);
    background-position: 0px 20px, 0 20px, 0 -30px;
    background-size: 50px 100px;
    background-repeat: repeat-x;
  }
  .mountain:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-70deg);
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 64, 85, 0.3);
  }


    .hill {
        width: 30rem;
        height: 30rem;
        background-color: rgb(26, 162, 26);
        transform: rotate(45deg);
        border-radius: 40%;
        position: absolute;
    }

    .hill1 {
        left: 15rem;
        top: 21rem;
    }
    .hill2 {
        left: 30rem;
        top: 18rem;
    }
    .hill3 {
        top: 20rem;
        left: 45rem;
    }
    .hill4 {
        top: 19rem;
        left: 60rem;
    }
    .hill5 {
      top: 20rem;
      left: 75rem;
    }
    .hill6 {
      top: 14rem;
      left: 95rem;
    }


.ground {
    width: 100%;
    height: 50vh;
    background-color: green;
    position: relative;
}
.tree {
    position: absolute;
    width: 15%;
    height: auto;
    z-index: 10;
}
.tree1 {
    top: -10rem;
    left: 10rem;
}
.tree2 {
    top: -8rem;
    left: 28rem;
}
.tree3 {
    top: 4rem;
    right: -2rem;
    width: 20%;
}
.tree4 {
    top: -4rem;
    right: 7rem;
}
.tree5 {
    top: -7rem;
    right: 1rem;
}
.tree7 {
    top: 0;
    left: 24rem;
}
.tree8 {
    top: -7rem;
    right: 18rem;
    width: 13%;
}
.tree img {
    max-width: 100%;
    height: auto;
}
.castle {
    position: absolute;
    top: -90%;
    right: 0;
    width: 15%;
    height: auto;
    z-index: 10;
}
.castle img {
    max-width: 100%;
    height: auto;
}
.sakura {
    position: absolute;
    top: -30%;
    right: 35%;
    width: 25%;
    height: auto;
    z-index: 10;
}
.sakura img {
    max-width: 100%;
    height: auto;
}
.pond {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 35%;
    height: auto;
    z-index: 10;
}
.pond img {
    max-width: 100%;
    height: auto;
}
.kids-learning {
    position: absolute;
    top: 35%;
    right: 40%;
    width: 15%;
    height: auto;
    z-index: 10;
}
.kids-learning img {
    max-width: 100%;
    height: auto;
}
.treehouse {
    position: absolute;
    top: -15%;
    left: 15%;
    width: 15%;
    height: auto;
    z-index: 10;
}
.treehouse img {
    max-width: 100%;
    height: auto;
}
.birds {
    position: absolute;
    top: -70%;
    left: 50%;
    width: 30%;
    height: auto;
    z-index: 10;
}
.birds img {
    max-width: 100%;
    height: auto;
}
.globe {
    position: absolute;
    top: 60%;
    left: 20%;
    width: 5%;
    height: auto;
    z-index: 10;
}
.globe img {
    max-width: 100%;
    height: auto;
}
.detective {
    position: absolute;
    top: 60%;
    left: 25%;
    width: 6%;
    height: auto;
    z-index: 10;
}
.detective img {
    max-width: 100%;
    height: auto;
}
.kid-book {
    position: absolute;
    top: 0;
    right: 22%;
    width: 10%;
    height: auto;
    z-index: 10;
}
.kid-book img {
    max-width: 100%;
    height: auto;
}