#theme-btn {
    padding: 10px;
    color: limegreen;
    background-color: blue;
    text-align: center;
    border: 1px solid green;
    font-family: cursive;
    font-weight: 700;
    border-radius: 10px;
    
}